3.	name: SonarQube Analysis
4.	
5.	on:
6.	  push:
7.	    branches:
8.	      - main
9.	  pull_request:
10.	    branches:
11.	      - main
12.	
13.	jobs:
14.	  sonarQube:
15.	    name: SonarQube Analysis
16.	    runs-on: ubuntu-latest
17.	    steps:
18.	      - name: Checkout code
19.	        uses: actions/checkout@v2
20.	
21.	      - name: Set up JDK 11
22.	        uses: actions/setup-java@v2
23.	        with:
24.	          java-version: '11'
25.	
26.	      - name: Cache SonarScanner packages
27.	        uses: actions/cache@v2
28.	        with:
29.	          path: ~/.sonar/cache
30.	          key: ${{ runner.os }}-sonar
31.	
32.	      - name: Install SonarScanner
33.	        run: |
34.	          wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.8.0.2856-linux.zip
35.	          unzip sonar-scanner-cli-4.8.0.2856-linux.zip -d $HOME
36.	          echo "$HOME/sonar-scanner-4.8.0.2856-linux/bin" >> $GITHUB_PATH
37.	
38.	      - name: Run SonarScanner
39.	        env:
40.	          SONAR_HOST_URL: http://localhost:9000
41.	          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
42.	        run: sonar-scanner \
43.	          -Dsonar.projectKey=mi_proyecto_seguro \
44.	          -Dsonar.sources=. \
45.	          -Dsonar.host.url=$SONAR_HOST_URL \
46.	          -Dsonar.token=$SONAR_TOKEN
